html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}

.game--title {
  font-family: 'Lobster', sans-serif;
  font-size: 3rem;
  margin-top: 30px;
  text-align: center;
  border: 1px solid green;
}

.content--game {
  max-width: 80vmin;
  margin: auto;
  text-align: center;
  color: white;
  border: 1px solid red;
}

.info {
  display: flex;
  justify-content: space-between;
  border: 1px solid cyan;
}

.player {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
  border: 1px solid magenta;
}

.player::after {
  content: " ";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  position: absolute;
  right: -20px;
  top: 2.5px;
}

.button--home {
  border: 1px solid blue;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid yellow;
  text-align: center;
}

.button--grid {
  flex-basis: 10%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid black;
  color: white;
  display: block;
  padding: 25px;
}

.button--grid:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
